@import "../../../../sass/abstracts/variables";
@import "../../../../sass/components/button";
@import "../../../../sass/layout/grid/grid.scss";
@import "../../../../sass/base/animations";
// Cutom Google Font Family
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../../../../sass/components/frosted";

.root {
    display: flex;
    justify-content: center;    
    flex-direction: column;
    align-items: center;
    //height: 100vh;
    margin: 0 auto;
    //background-color: rgba($color-primary-light, 1);
}   

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// 09:15
.slideshow {
    margin-top: 1rem;
    text-align: center;
    border-radius: 2.5rem;
    overflow: hidden;
    width: 85%;
    transition: all 0.5s ease-in-out;

    // Move-in from Right
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out; 
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 1rem 0.5rem rgba($font-light, 0.6);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        transition: transform 0.3s;
        box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.05);

        &--heading {
            color: rgba($font, 1);
            cursor: pointer;
        }

        &--p {
            margin: 0;
            cursor: pointer;
            font-weight: 600;
            white-space: normal;
            color: rgba($font, 1);
            transition: 0.5s;
        }

    }
    // .slideshow__btn
    &__btn {
        display: flex;
        justify-content: space-evenly;

        // .slideshow__btn--arrow
        &--arrow {
            background: none;
            border: none;
            cursor: pointer;
            margin-top: 2rem;
            transition: 0.1s;
            color: rgba($font, 1);

            &:hover {
                color: rgba($color-secondary-dark2, 1);
                //box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba($color-black, 0.6);
                transform: translateY(-0.1rem);
                box-shadow: 0 0 3rem 1rem rgba($color-white, 0.7);

                //Frosted effect
                // Frosted when :hover
                border-radius: 1.6rem;
                background: linear-gradient(to bottom right, $font-light, $font, $font-dark, 0.8);
                //box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.3);
                backdrop-filter: blur(1.5rem);
                -webkit-backdrop-filter: blur(1.5rem);
                border: 1px solid rgba($font-dark, 0.803);
                position: relative;
                background: inherit;
                overflow: hidden;
                // Allow contents to be seen & hovered above the glass
                z-index: 2;
        
                &:before {
                    background: inherit;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    box-shadow: inset 0 0 200rem rgba($font-light, 0.5);
                    filter: blur(1.2rem);
                    // Allow contents to be seen & hovered above the glass
                    z-index: -2;
                    }    
            }

            &:active {
                //border: "";
                box-shadow: 0 0 0 0;
                transform: translateY(0);
                color: rgba($color-black, 1);
            }
            &::after {

            }
        }
    }
}

.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;

    // .indicators--btn
    &--btn {
        border: none;
        cursor: pointer;
    }
}

.indicators > button {
    margin: 0.5rem;
    background: none;
}

// For Slideshow.jsx Line 83 to 87
.indicator-symbol {
    //color: rgba($color-tertiary-dark, 1);
    border-radius: 1rem;
    color: rgba($font-light, 1);

    &:hover {
        color: rgba($color-white, 1);

        // Frosted when :hover
        border-radius: 1.6rem;
        background: linear-gradient(to bottom right, $font-light, $font, $font-dark, 0.8);
        box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(1.5rem);
        -webkit-backdrop-filter: blur(1.5rem);
        border: 1px solid rgba($font-dark, 0.803);
        position: relative;
        background: inherit;
        overflow: hidden;
        // Allow contents to be seen & hovered above the glass
        z-index: 1;

        &:before {
            background: inherit;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: inset 0 0 200rem rgba($font-light, 0.5);
            filter: blur(1.2rem);
            // Allow contents to be seen & hovered above the glass
            z-index: -1;
        }
    }
}

.indicator-symbol-active {
    border-radius: 1rem;
    color: rgba($color-secondary-dark2, 1);

    // Frosted
    border-radius: 1.6rem;
    background: linear-gradient(to bottom right, $font-light, $font, $font-dark, 0.8);
    box-shadow: 0 0.25rem 1rem 0rem rgba($color-gold, 1);
    backdrop-filter: blur(1.5rem);
    -webkit-backdrop-filter: blur(1.5rem);
    border: 1px solid rgba($font-dark, 0.803);
    position: relative;
    background: inherit;
    overflow: hidden;
    // Allow contents to be seen & hovered above the glass
    z-index: 1;

    &:before {
        background: inherit;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 200rem rgba($font-light, 0.5);
        filter: blur(1.2rem);
        // Allow contents to be seen & hovered above the glass
        z-index: -1;
    }

    &:hover {
        color: rgba($color-secondary-light, 1);
    }
}